@use '@/styles/_dirs/variables';

.footer {
    background: variables.$secondary-color;
    color: variables.$primary-color;
    padding: 1.5em 2em;

    &_container {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    &_copyright {
        display: flex;
        justify-content: center;

        p {
            color: darken($color: #fff, $amount: 30%);
        }
    }
}
